/* #16697A   #489FB5   #d2dca6   #EDE7E3  #FFA62B  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  background-color: #1b2f33;
  height: 103px;
  width: 1000px;
  margin: auto;
  position: sticky;
  top: 0;
}

#brand {
  background-color: transparent;
  height: 100px;
  width: 300px;
  float: left;
  position: fixed;
  padding: 30px;
}

#navbar {
  background-color: transparent;
  height: 100px;
  width: 700px;
  float: left;
  position: fixed;
  margin-left: 300px;
  padding: 40px;
}

nav {
  text-align: right;
  font-size: 20px;
  color: white;
}

span {
  padding-left: 10px;
}

i {
  padding-right: 10px;
}

#container {
  width: 1000px;
  height: 1500px;
  background-color: #d2dca6;
  margin: auto;
  padding-top: 25px;
}

h1 {
  font-family: "Oooh Baby", cursive;
  text-align: center;
  font-size: 40px;
  cursor: pointer;
  color: white;
}

h1:hover {
  color: #ffa62b;
}

span:hover {
  color: #ffa62b;
  cursor: pointer;
}

.boxes {
  height: 300px;
  width: 300px;
  background-color: #ffa62b;
  margin-left: 25px;
  float: left;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 25px;
}

.boxes:hover {
  background-color: red;
  cursor: pointer;
}

.title {
  color: white;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  margin-bottom: 15px;
}

p {
  color: white;
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

button {
  margin-left: 80px;
  font-size: 15px;
  background-color: #16697a;
  border-radius: 3px;
  color: white;
  padding: 5px 30px;
}

hr {
  border-color: white;
  margin-bottom: 15px;
  margin-top: 0px;
}

.fa-thumb-tack {
  color: #1b2f33;
  transform: rotate(15deg);
}

footer {
  background-color: #1b2f33;
  height: 100px;
  width: 1000px;
  margin: auto;
  position: sticky;
  bottom: 0;
  padding: 30px;
}

.footer-paragraph {
  text-align: center;
}
